header{
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 820px; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#aad4cf

}

h1 {
    font-size: 50px;
    position: center;
    text-align: center;
    color: white
}
h2 {
    font-size: 30px;

}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #b6ebe5;
    padding:10px;
    
}
img{
    width: 250px;
    /* apply float to the lone starfish image */
    float: left;
}
nav ul{
    font-size: 25px;
    text-align: center;
}
nav li {
    display: inline-block;
    /*width: 100px */
}

nav li::before{
    content:"|";
}
nav li :nth-child(2){
    display: none;
}

nav li a{
    text-align: center;
    padding: 33px;
}

.contact{
    width: 900px;
    height: 400px;
    padding: 20px;
    border: 2px solid black; 
    margin: 15px; 
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=message]{
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
