
body{
    background-color:lightseagreen
}
/*box model*/
.green-box{
    width: 1000px; 
    height: 1000px;
    background-color: mediumaquamarine;
}



h1 {
    position: center;
    text-align: center;
    color: white
    
}



.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    
}