header{
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 0 auto;
    width: 100%;
    
}
.wrapper{
    background-color: rgb(255, 255, 255, 0.6);
    padding: 10px;

}
body{
    margin: 0 auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#aad4cf
}
h1 {
    font-size: 30px;
    text-align: center;
    color: white
}

img{
    width: 180px;
    /* apply float to the lone starfish image */
    float: left;
    padding: 10px;
}
p{
    font-size: 11.5px;
}

ul{
    font-size: 11.5px;
}
nav ul{
    font-size: 25px;
    text-align: center;
}
nav li {
    display: inline-block;
    /*width: 100px */
}

nav li::before{
    content:"|";
}
nav li :nth-child(2){
    display: none;
}

nav li a{
    text-align: center;
    padding: 33px;
}

.contact{
    width: 565px;
    height: 300px;
    padding: 20px;
    border: 2px solid black; 
}

input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=message]{
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }

  a:link{
    border-style: solid;
    text-decoration: none;
  }
  footer{
    color: black;
    text-align: right;
    margin: 0 auto;
    width: 91.5%;
}


