header{
    width: 630px;
    margin:0;
}
.maintittle{
    padding-left: 200px;
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    font-size: 20px;
    color: white
}
/*gives size to big image*/
.largeimg{
    width: 630px;
}
.wrapper{
    background-color: rgb(255, 255, 255, 0.6);
    padding: 10px;
}
nav li::before{
    content:"|";
}
body{
    margin: 0 auto;
    width: 630px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#aad4cf
}

.smallimg {
    width: 180px;
    /* apply float to the lone starfish image */
    float: left;
    /*applies padding to starfish image*/
    padding: 8px;
}

/*applies font size to paragraph*/
p{
    font-size: 11.5px;
}
/*applies font size to facts*/
.facts{
    font-size: 12px;
}
nav li {
    font-size: 17px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 65px;
    padding-right: 65px;
}
/*creates box of contact form*/
.contact{
    width: 565px;
    height: 380px;
    padding: 20px;
    border: 2px solid black;
}

/*creates size of the box name and email*/
input[type=text] {
    width: 565px;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
/*creates size of box message*/
  input[id=message]{
  width: 565px;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }

  a:link{
    border-style: solid;
    text-decoration: none;
  }
/*apllies style footer*/
  footer{
    color: black;
    text-align: right;
    margin: 0 auto;
    width: 91.5%;
}

/*creates send button*/
.button {
    background-color:rgb(255, 255, 255, 0.6);
    margin-top: 10px;
    border: 2px solid black;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

