
html {
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 { 
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}

h3 { 
    font-weight: bold;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}
p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}
.wrapper{
    padding: 10px;
    width: 600px;
    margin: auto;
}

header {
    align-content: center;
    background-color: #222;
    margin: auto;
    width: 600px;
}

.logo {
    height: 100px;
    width: 100px;
}
.logo2{
    height: 150px;
    background-color: #c78c06;
}

.navli{
    background-color: #222;
}
nav li a {
    padding: 5px;
    color: #c78c06;
}
.navli{
    width: 600px;
    margin: auto;
}
ul{
    text-align: center;
    color: #c78c06;
}
nav li:hover{
    background-color: #c78c06;
    color: #222;
}
.nav li a:hover {
    color: #222;
}


a:link{
    text-decoration: none;
}

input[id=search]{
    padding: 10px;
    width: 530px;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .main .maincontent {
    z-index: 1;
    margin-top: 3rem;
    box-sizing: border-box;
    background-color: #2229 ;
    padding: 10px;
}
.main {
    z-index: -1;
    color: white;
    background-image: url("../images/main-banner.jpg");
    width: 600px;
    height: 400px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.search {
    width: 1.2rem;
    color: #c78c06;
    border: 1px solid #c78c06
}

img {
    width: 100%;
    height: auto;
}

.button1 {
    padding: 10px;
    color: black; 
    background-color:#c78c06;
}

.about{
    background-color: #ffe6ac ;
    width: 600px;
    margin: auto;
}

.services .content {
    padding: 10px;
    background-color: #ffe6ac;
}
.team .content {
    padding: 10px;
    background-color: #ffe6ac;
}
.button2{
    padding: 10px;
    color: white;
    background-color: #222;

}


.button3{
    padding: 10px;
    color: white;
    background-color: #222;

}


.button4{
    padding: 10px;
    color: white;
    background-color: #222;

}

.button5{
    padding: 10px;
    color: white;
    background-color: #222;

}

.button6{
    padding: 10px;
    color: white;
    background-color: #222;

}

.vision{
    color: white;
    background-image: url("../images/vision.jpg");
    width: 650px;
    margin: auto;
    background-position: center;
    background-size: 650px;
}

.button7{
    padding: 10px;
    color: white;
    background-color: #222;
    border: 1px solid #c78c06;

}

input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[id=message]{
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;

  }

.button8{
    color:#c78c06;
    background-color: #222;
}


td, th {
    border: 1px solid black;
     padding: 8px;
  }
  
  table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
  tr:nth-child(1){
    background-color: #ffe6ac;
  }



  .map iframe {
    border:0;
    height: 450px;
    width:100%;
}

  footer{
      padding: 10px;
      width: 600px;
      background-color: #222;
      color: #c78c06;
  }

  @media screen and (min-width: 760px) {
      header {

      }
  }
