html {
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
h1{
    font-size: 26px;
    margin-bottom: 6px;
}

h2 { 
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}

h3 { 
    font-weight: bold;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}
p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}

header {
    align-content: center;
    background-color: #222;
    margin: auto;
    width: 85%;
}

.logo {
    height: 100px;
    width: 100px;
}
.logo2{
    height: 150px;
    background-color: #c78c06;
}

.navli{
    background-color: #222;
}
nav li a {
    padding: 10px 5px;
    color: #c78c06;
    display: inline-block;
    width: 100%;
}
.navli{
    width: 600px;
    margin: auto;
}
ul { align-items: center;
    display: flex;
    flex-direction: column;
    color: #c78c06;
    text-align: center;
    width: 100%;
}
nav ul li {
    width: 20%;
}
nav li a:hover{
    background-color: #c78c06;
    color: #222;
    font-weight: bold;
}

.fa-solid{
    padding-left: 10px;
}

a:link{
    text-decoration: none;
}

input[id=search]{
    padding: 10px;
    width: 530px;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
.main .maincontent {
    background-color: #2229 ;
    padding: 10px;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.main .maincontent .text {
    font-size: 14px;
    margin-bottom: 10px;
}
.container {
    width: 100vw;
    overflow-x: hidden;
}
.contain {
    width: 85%;
}
.main {
    position: relative;
    color: white;
    /* background-image: url("../images/main-banner.jpg"); */
    /* height: 400px; */
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
/* .main img {
    position: absolute;
} */
.search {
    width: 1.2rem;
    color: #c78c06;
    border: 1px solid #c78c06;
}
.search1 {
    display: flex;
    align-items: center;
}
.search1 .icon {
    padding: 5px;
    color: #c78c06;
    border: 1px solid #c78c06;
}
.services .card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

.button1 {
    padding: 6px;
    color: black; 
    background-color:#c78c06;
}

.about{
    padding: 10px;
    background-color: #ffe6ac ;
    margin: auto;
}

.services .content {
    padding: 10px;
    background-color: #ffe6ac;
}
.team .content {
    padding: 10px;
    background-color: #ffe6ac;
}
.button2{
    padding: 10px;
    color: white;
    background-color: #222;

}

.content hr{
    border-top: 2px solid #c78c06;
}

.button3{
    padding: 10px;
    color: white;
    background-color: #222;

}


.button4{
    padding: 10px;
    color: white;
    background-color: #222;

}

.button5{
    padding: 10px;
    color: white;
    background-color: #222;

}

.button6{
    padding: 10px;
    color: white;
    background-color: #222;

}

.vision{
    color: white;
    background-image: url("../images/vision.jpg");
    padding: 10px;
    width: 110%;
    margin-left: -5%;
    background-position: center;
    background-size: cover;
}

.button7{
    padding: 10px;
    color: white;
    background-color: #222;
    border: 1px solid #c78c06;

}

input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[id=message]{
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;

  }

.button8{
    color:#c78c06;
    background-color: #222;
}


td, th {
    border: 1px solid black;
     padding: 8px;
  }
  
  table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
  tr:nth-child(1){
    border: 1px solid black;
    background-color: #ffe6ac;
  }
  tr:nth-child(2){
    border: 1px solid black;

  }

  .map iframe {
    border:0;
    height: 450px;
    width:100%;
}

  footer{
      margin: auto;
      padding: 10px;
      width: 80%;
      background-color: #222;
      color: #c78c06;
  }
  footer a{
      color: #c78c06;
  }

@media screen and (min-width: 500px) {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .contain .maincontent .text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .button1 {
        padding: 10px;
    }
    h2 {
        font-size: 2rem;
    }
    h3{
        font-size: 2rem;
    }
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 760px) {
    h1 {
        font-weight: bold;
        font-size: 4rem;
    }
    h2{
        font-weight: bold;
    }
    h3{
        font-weight: bold;
    }
}
  
@media screen and (min-width: 1200px) {
    h1{
        font-size: 4rem;
        font-weight: bold;
    }
    h2{
        font-weight: bold;
    }
    h3{
        font-weight: bold;
    }
    header {
        display: flex;
        width: 100%;
    }

    .header {
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: center;
        padding: 1rem 0;
    }

    nav {
        display: flex;
        width: 100%;
        grid-gap: 3rem;
    }

    nav .logo2 {
        width: 60px;
        height: 60px;
    }
    
    nav .logo2 .logo {
        width: 60px;
        height: 60px;
    }

    .header .search1 {
        margin-left: 1rem;
    }

    .header .search {
        border: 0;
    }

    .header .search i {
        padding: 5px;
        border: 1px solid #c78c06;
    }
    
    nav ul {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    li{
        display: inline-block;
    }
    .logo{
        float:left;
    }

    .about img{
        padding: 1rem;
        width: 40%;
        float: left;

    }

    .main img {
        height: 30rem;
    }

    .contain .services {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            "area0 area0 area0 area0 area0 area0"
            "area1 area1 area1 area2 area2 area2"
            "area3 area3 area4 area4 area5 area5";
        grid-gap: 1rem;
    }
    .contain .services .card .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contain .services .title {
        grid-area: area0;
    }
    .digital {
        grid-area: area1;
    } 
    .marketing {
        grid-area: area2;
    }
    .video {
        grid-area: area3;
    }
    .web {
        grid-area: area4;
    }
    .print {
        grid-area: area5;
    }
    
    .vision{
        padding: 50px;
        margin-top: 10px;
    }
    .contain .team .card {
        display: flex;
    }
    .contain .team .cfo {
        flex-direction: row-reverse;
    }

    .contain .team .card .info {
        width: 50%;
    }

    /*
    .contain .team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "area6 area7"
        "area8 area9";
    }
    */

    .ceo content{
        grid-area: area7;
    }
    .cfo{
        grid-area: area9;
    }
    .contentinfo{
        grid-area: area7;
    }
    .content2{
        grid-area: area9;
    }


    .form{
        grid-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "area10 area11"
        "area12 area12"
    }
    .schedule{
        margin-bottom: 3rem;
        grid-area:area12;
    }
    .contact{
        grid-area: area10;
    }
    .contact h2{
        font-size: 3rem;
    }
    .contact h3 {
        font-size: 1.5rem;
    }

    .map h2{
        font-size:3rem ;
    }

    .map{
        grid-area: area11;
    }
    .button8 {
        width: 3rem;
    }
    footer{
        width: 100%;
        padding: 1rem;
        padding-left: 6rem;
    }
            
    }
